*{
  margin: 0;
  padding: 0;
}
.nav_container{
  height: 60px;
  background-color: darkgrey;

}
.dis_flex{
  display: flex;
}
.flex_center{
  align-items: center;
  justify-content: space-evenly;
}
.gap_25px{
  gap:25px
}
.bold{
  font-weight: bold;
}
.logo h2{
  
  color: gray;
  
}
.font_icon{
  color: gray;
  font-size: 20px;
}
.home:hover{
  cursor: pointer;

}
.home span:hover{
  
  color: mediumblue;
}
.home span:active{
  color: rgb(0, 17, 255);
  
}
.section_container img{
  height: 300px;
  width: 350px;

}
.section_container{
  justify-content: space-evenly;
  margin: 70px;
}
.pragraph{
  margin: 10px;
  margin-top: 50px;
}
.circle{
  border-radius: 50%;
}
.yellow_circle{
  width: 27px;
  height: 27px;
  background-color: rgba(255, 217, 0, 0.819);
}
.red_circle{
  width: 32px;
  height: 32px;
  background-color: red;
  position: relative;
  bottom: 20px;
}
.blue_circle{
  width: 30px;
  height: 30px;
  background-color: rgb(11, 57, 208);
}
.pragraph .dis_flex{
  margin-top:40px;
}
.footer_container{
  background-color: black;
  height: 215px;
}
.direction_cl{
  flex-direction: column;
  color: white;
  font-weight: 100;
}